body {
  background: #00A8C6;
  font-family: Courier;
}

input {
  border: none;
  background: #F9F2E7;
}

input[type="text"], input[type="password"] {
  width:300px;
  height:80px;
  font-size: 40px;
  padding: 0 10px;
}

input[type="submit"].hide {
  position: absolute; 
  left: -9999px;
}

input, select, textarea{
    color: #000000;
}

input:focus {
  outline: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #d3d3d3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #d3d3d3;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #d3d3d3;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #d3d3d3;
}

.container {
  margin: 20px auto;
  width: 300px;
  padding: 30px;
  /*border: 1px dotted black;*/
  background: #F9F2E7;
  -webkit-box-shadow: 3px 3px 11px rgba(50, 50, 50, 0.43);
  -moz-box-shadow:    3px 3px 11px rgba(50, 50, 50, 0.43);
  box-shadow:         3px 3px 11px rgba(50, 50, 50, 0.43);
}

th {
  text-align: left;
}

.deal {
  font-family: Comic Sans, Comic Sans MS, cursive;
  font-style: italic;
  font-size: 20px;
}

h1 {
  font-family:
}

.surround {
  position: absolute;
  top: 50%;
  margin-top: -200px;/* half of #content height*/
  left: 0;
  width: 100%;
}

.user-account {
float:right;
margin-right: 20px;
}

.answer-info {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
