  <div class="answer-info">
  <span class="<%= @guess.correct ? true : false %>">
    <% if @guess.correct %>
       <img src="/images/success/<%=rand(7)+1%>.gif" />
    <% else %>
       <img src="/images/fail/<%=rand(9)+1%>.gif" />
    <% end %>

  <form id ="sign_up" action="/question" method="post">
    <input type="hidden" name="decks" value="<%=current_round.deck.name%>">
    <input type="submit" value="more">
  </form>
</div>
