  <div class="answer-info">
  <span class="<%= @guess.correct ? true : false %>">
    <% if @guess.correct %>
       <img class="random-gif" src="/images/success/<%=rand(26)+1%>.gif" />
    <% else %>
       <img class="random-gif" src="/images/fail/<%=rand(24)+1%>.gif" />
    <% end %>

  <form id ="sign_up" action="/question" method="post">
    <input class="need-submit" type="submit" value="more">
  </form>

  <p><a href="/quit_round">i'm done with this</a></p>
</div>
