<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>Here's how you did, deal with it.</p>

  <h3>Your answer was correct? <span class="<%= @guess.correct ? true : false %>">
    <%= @guess.correct %>
  </h3>

  <form id ="sign_up" action="/question" method="post">
    <input type="hidden" name="decks" value="<%=current_round.deck.name%>">
    <input type="submit" value="Next Question">
  </form>

</div>
