<div class="container">
  <form id ="sign_in" action="/sign_in" method="post">
    <br><input type="text" name="email" placeholder="email" autocomplete="off">
    <br>
    <br>
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <br><br>
    <input class="hide" type="submit" value="login">
  </form>  
</div>
