<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>Get these flashcards right, deal with it.</p>

  <ul>
    <li><a href="/sign_in">Login</a></li>
    <li><a href="/sign_up">Create Account</a></li>
  </ul>

</div>
