<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>Start answering questions, deal with it.</p>

  <h2>Here's your question:</h2>

  <!-- Embedded Ruby to display question -->

  <form id ="answer" action="/answer" method="post">
    <h3>Your answer:</h3>

    <input type="text" name="answer" placeholder="Enter your answer here!">
    <br>
    <br>
    <input type="submit" value="submit answer">
  </form>

</div>
