<div class="container">
  <h3><%= @card.question %>?</h3>

  <form id ="answer" action="/answer" method="post">
    <input type="text" name="answer" placeholder="answer me">
    <input type="hidden" name="card_id" value="<%= @card.id %>">
    <br>
    <br>
    <input type="submit" value="shoot it over">
  </form>

</div>
