<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>Here's how you did, <span class="deal">deal with it.</span></p>

  <h2>Number of questions: <%= @total_questions %></h2>
  <h2>Number of correct answers: <%= @total_correct %>

</div>
