<div class="container">

  <h2># of questions: <%= @total_questions %></h2>
  <h2># of correct: <%= @total_correct %></h2>
  <a href="/user_page">some more please</a>
  <p>You correctly answered <%= current_user.get_stats.last[1] %>% of the deck.</p>



</div>
