<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>Sign-in to your account, <span class="deal">deal with it.</span></p>

  <form id ="sign_in" action="/sign_in" method="post">
    <h3>Login:</h3>

    <br><input type="text" name="email" placeholder="email">
    <br>
    <br>
    <input type="password" name="password" placeholder="password">
    <br><br>
    <input type="submit" value="login">
    <h4>Don't Lie, We are checking our files</h4>
  </form>  

</div>
