<div class="container">
  <form id ="sign_up" action="/sign_up" method="post">
    <input type="text" name="full_name" placeholder="name" autocomplete="off">
    <br>
    <br>
    <input type="text" name="email" placeholder="email" autocomplete="off">
    <br>
    <br>
    <input type="password" name="password" placeholder="password" autocomplete="off">
    <br><br>
    <input class="hide" type="submit" value="login">
  </form>
</div>
