<div class="container">
  <h1>Welcome to Team Vim!</h1>
  <p>This is your Account page, deal with it.</p>

  <h2>Start a Game.</h2>

  <form id ="choose_deck" action="/play" method="post">
    <select name="decks" value="Select your Deck">
      <% Deck.all.each do |deck| %>
      <option value="<%=deck.name%>"><%=deck.name%></option>
      <% end %>
    </select>
    <input type="submit" value="start">
  </form>

</div>
